#main {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#inputSection {
  width: 50vw;
}

#outputSection {
  width: 50vw;
}

#inputSection form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

#inputSection button {
  border: none;
  height: 3em;
  margin-top: 2em;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 3px;
}

#inputSection button:hover {
  background-color: hsl(236deg, 90%, 79%);
}

#inputSection textarea {
  height: 50%;
  font-size: 1.1rem;
  border: 1px solid black;
  border-radius: 3px;
  padding: 1em;
}

#outputSection {
  border: 1px solid hsl(236deg, 90%, 79%);
  margin: 10px;
  padding: 10px 20px;
  font-family: monospace;
  font-size: 1.1rem;
  border-radius: 10px;
}
